.explanation{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0;
}

.explanation__list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.explanation__title {
  text-align: left;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: inherit;
  margin-bottom: 41px;
}

.explanation__description {
  padding-left: 100px;
  margin: 0;
  font-family: $base;
  font-size: 14px;
  line-height: 18px;
  color: $black;
}

.explanation__item {
  margin-bottom: 32px;
}
