.list-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-menu__item {
  text-align: center;
  padding: 24px 0;
  text-transform: uppercase;

  &:first-child {
    padding-top: 0;
  }

  a {
    color: $black;
  }
}
