.main-nav{
  font-family: $medium;
  font-size: 20px;
  line-height: 20px;
}

.main-nav__toggle{
  padding: 0;
  border: none;
}

.main-nav__list{
  margin: 0;
  list-style: none;
}

.list-menu{
  padding: 0;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.list-menu__item{
  text-transform: uppercase;
  margin-bottom: 20px;
    a{
      text-decoration: none;
      color: $black;
    }
}
