.main-nav {
width: 320px;
margin: 0 auto;
}

.main-nav__toggle,
.main-nav__toggle--close {
  padding: 0;
  border: none;
}

@media (mix-width : $tablet-witdh){

.main-nav__wrapper {
  width: 640px;
  margin: 0 auto;
  }
}
