.programm__choose-programm {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 11px 74px;
  margin-bottom: 22px;
}

.programm__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programm__title {
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding-top: 39px;
  margin-bottom: 26px;
}

.programm__description {
  display: block;
  width: 233px;
  text-align: left;
  padding-left: 21px;
  font-family: $base;
  font-size: 14px;
  line-height: 18px;
  color: $lblack;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $white;
  margin-bottom: 20px;
}

.programm__item {
  display: block;
  min-width: 280px;
  margin-bottom: 20px;
  background-color: $lgrey;
}

.programm__link {
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 22px;
  color: $black;
  font-size: 16px;
  line-height: 16px;
}
