.programm__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programm__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.programm__description {
  display: block;
  font-family: $base;
  font-size: 14px;
  line-height: 18px;
  color: $lblack;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $white;
  margin-bottom: 20px;
}

.programm__item {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: $lgrey;
}

.programm__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  font-size: 16px;
  line-height: 16px;
}
