.slogan {
  background: url("../img/index-background-mobile.png") no-repeat 0 0;
}

.slogan__title {
  padding-top: 29px;
  font-family: $regular;

  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
  color: $white;
  padding-bottom: 19px;
  margin: 0;
}

.slogan__sub-title {
  padding-bottom: 29px;
  margin: 0;
  font-family: $regular;

  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  text-transform: uppercase;
  color: $white;
}
