.slogan{
  // background-color: $green;
}

.slogan__title{
  font-family: $regular;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  padding-bottom: 19px;
}

.slogan__sub-title{
  font-family: $regular;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $white;
}
