@font-face{
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2");
  src: url("../fonts/oswaldregular.woff");
}

@font-face{
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmedium.woff2");
  src: url("../fonts/oswaldmedium.woff");
}
