body {
  width: 100%;
  max-width: 320px;
  font-family: $regular;
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

@media(min-width: 320px) {

  body {
    width: 280px;
  }
}
