body {
  min-width: 320px;
  width: 320px;
  font-family: $regular;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: $tablet-witdh) {

  body{
    width: 640px;
    padding: 0 64px;

  }
}

@media (min-width: $descktop-witdh) {

  body {
    width: 960px;
    padding: 0 120px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}
