
//FONTS
$base: arial, sans-serif;
$regular: "Oswald", arial, sans-serif;
$medium: "OswaldMedium", arial, sans-serif;

//COLORS
$green: #68b738;
$white: #ffffff;
$black: #111111;
$lblack: #444444;
$lgrey: #f2f2f2;
